
@import url('https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css');

.wrapper {
  min-height: 700px;
  background: url("../images/book.jpg");
  background-size: cover;
}
footer{
  height: 70px;
}
.navbar-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255,1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.navbar-toggler{
  background-color: #000000;
}
.init-contents {
  height: calc(100% - 260px);
}
.shelf{
  min-height: 450px;
}
thead, tbody {

}
th, td {

}
tbody{

}
.profile{
  min-height: 478px;
}
.profile-img{
  height: 200px;
  width: 200px;
}
.new-edit-form{
  min-height: 478px;
}
.book-img {
  height: 250px;
  width: 200px;
}
.book-table{
  min-height: 352px;
}
.shelf-table{
  min-height: 366px;
}
label > input {
  display:none; 
  }
.submit-label {
padding: 10px; 
}
.no-image {
  width: 250px;
  height: 300px;
  margin-left: auto;
  margin-right: auto;
}


@media screen and (min-width:781px){
  .search-box {
    max-width: 75%;
  }
}


/* ------------------------------------------------------ */
body {
  line-height: 1.25;
}
tbody {
  overflow-x: hidden;
  overflow-y: scroll;
  height: 230px;
}
table {
  border-collapse: collapse;
  margin: 0 auto;
  padding: 0;
  width: 1000px;
  table-layout: fixed;
}
table tr {
  background-color: #fff;
  border: 1px solid #bbb;
  padding: .35em;
}
table th,
table td {
  padding: 1em 10px 1em 1em;
  border-right: 1px solid #bbb;
}
table thead tr{
  background-color: gray;
  color: white;
}
.txt{
  text-align: left;
}

@media screen and (max-width: 600px) {
  table {
    border: 0;
    width:100%
  }
  table th{
    /* background-color: #eee; */
    display: block;
    border-right: none;
    background-color: gray;
    color: white;
  }
  table thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }
  table tr {
    display: block;
    margin-bottom: .625em;
  }
  table td {
    border-bottom: 1px solid #bbb;
    display: block;
    font-size: .8em;
    text-align: right;
    position: relative;
    padding: .625em .625em .625em 4em;
    border-right: none;
  }
  table td::before {
    content: attr(data-label);
    font-weight: bold;
    position: absolute;
    left: 10px;
  }
  table td:last-child {
    border-bottom: 0;
  }
}

/* ------------------------------------------------------ */
